@model Lanches.MVC.ViewModels.PedidoLancheViewModel

@{
    ViewData["Title"] = "PedidoLanches";
    decimal totalPedido = 0;
}

<h1>Lanches do Pedido</h1>
<hr/>

<h4>Pedido : @Html.DisplayFor(model => @Model.Pedido.PedidoId)</h4>
<h4>Cliente : @Html.DisplayFor(model => @Model.Pedido.Nome)</h4>
<h4>Data : @String.Format("{0:dd/MM/yyyy hh:mm}", @Model.Pedido.PedidoEnviado)</h4>
<h4>Entrega : @String.Format("{0:dd/MM/yyyy hh:mm}", @Model.Pedido.PedidoEntregueEm)</h4>

<table class="table">
    @foreach(var item in @Model.Pedido.PedidoItens)
    {
        totalPedido += (@item.Lanche.Preco * @item.Quantidade);

        <tr>
            <td align="left" >
                <img src="@item.Lanche.ImagemUrl" class="img-fluid" height="100" width="100">
            </td>
            <td align="center">
                <h3>@Html.DisplayFor(modelItem => item.Lanche.Nome)</h3>
            </td>
            <td align="right">
                <h3>(@Html.DisplayFor(modelItem => item.Quantidade))</h3>
            </td>
            <td align="right">
                <h3>@string.Format("{0:C}", item.Lanche.Preco)</h3>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3">&nbsp;</td>
        <td align="right">
            <h3>Total do Pedido : @string.Format("{0:C}", @totalPedido)</h3>
        </td>
    </tr>
</table>
<a asp-action="Index" class="btn btn-outline-info">Retornar</a>